.charactersPage {
  width: 100%;
  height: 100%;

  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid var(--light-blue, #10c3e2);
}

.charactersList {
  flex: 1 0 auto;

  width: 100%;  
  
  margin: 1.5rem 0 0;

  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  overflow-y: scroll;
}
