.home {
  width: 100%;
  height: 100%;

  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 auto;
  width: 100%;
  border-bottom: 1px solid var(--light-blue, #10c3e2);
}

.storiesList {
  flex: 1 0 auto;

  width: 100%;  
  
  margin: 1.5rem 0 0;

  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  overflow-y: scroll;
}

.addMoreStoriesCard {
  position: relative;
}

.addMoreStoriesCard > :first-child {
  position: relative;
  z-index: 0;
}

.link {
  width: 100%;
  height: 10rem;

  color: #444444;
  font-size: 4rem;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.link:visited {
  text-decoration: none;
}
