.storyPage {
  width: 100%;
  height: 100%;
}

.drawings {
  width: 100%;
  height: 30%;

  background-color: #d9d9d9;
}

.storyData {
  width: 100%;
  height: 70%;

  padding: 1.5rem 3rem;
}

.header {
  width: 100%;
  border-bottom: 1px solid var(--light-blue, #10c3e2);
}

.form {
  width: 100%;
  margin: 1rem 0;;
}

.formFields {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem
}

.formFields input {
  padding: .5rem 1.5rem 0;

  border: none;
  border-bottom: 1px solid var(--light-blue, #10c3e2);

  background-color: #00000000;
}

.formFields input:focus {
  outline: none;
  border-bottom: 2px solid var(--light-blue, #10c3e2);
}

.formFields textarea {
  padding: .5rem 1.5rem;
  border: 1px solid var(--light-blue, #10c3e2);
  border-radius: .5rem;

  background-color: #00000000;
}

.formFields textarea:focus {
  outline: 2px solid var(--light-blue, #10c3e2);
}

.formControls {
  width: 100%;

  margin-top: 1rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.formControls button {
  padding: .5rem 1rem;
  border: none;
  border-radius: 1rem;

  background-color: var(--light-blue, #10c3e2);

  color: white;
  font-weight: bold;

  text-transform: capitalize;
}

.formControls button:hover {
  background-color: #0e9db6;
  text-decoration: underline;
}
